.news{
    width: 100%;
}

.mainnews{
    display: inline-block;
    margin:15px;
    position: relative;
    
    
}

.mainnews img{
    /* border-radius-top: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 600px;
    height: 350px;



}

a{
    color:#353535;
    text-decoration: none;
}

.contentmain{
    position: absolute;
  bottom: 0;
  
  color: #f1f1f1;
  text-align: right;
  /* padding: 10px; */
}
.contentmain h3 ,.contentmain p{
    padding: 0 10px;
}
.contentmain h3{
    position: relative;
    background: #3c6e71;
    top:20px;
    border: 1px solid black;
     
}

.contentmain p{
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  padding: 20px;

}

.secondnews{
    display: flex;
    flex-wrap: wrap;

}

.contentsecond{
    width: 20%;


}
.secondnews img{
    width: 200px;
    height: 200px;
}
